@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
:root {
  --white: hsl( 0, 0%, 100% );
  --light-pink: hsl( 275, 100%, 97% );
  --grayish-purple: hsl( 292, 16%, 49% );
  --dark-purple: hsl( 292, 42%, 14% );
  --bright-purple: hsl( 281, 83%, 54% );
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;

}

html, body {
  height: 100%;
  font-size: .625rem;
}



.App {
  display: flex;
  height: 100vh;
  background-color: var(--light-pink);

}

.App #bg-img {
  position: absolute;
  background-image: url("./assets/images/background-pattern-desktop.svg");
  width: 100%;
  height: 50%;
}